<div class="row">
  <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/auth/signin" href="#">Sign in</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/auth/signup" href="#">Sign up</a>
      </li>
    </ul>

    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
