<div class="row">
    <div class="col-md-4">
        <div style="margin:0;padding:0;">
            <div class="panel panel-default" style="margin:0;padding:0;">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
            <div class="panel panel-default" style="margin:0;padding:0;">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
            <div class="panel panel-default" style="margin:0;padding:0;">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <img class="img-responsive pointer" [src]="item.Image" alt="{{ item.Name }}" />
            <div class="caption">
                <h4 class="item-name">{{ item.Name }}</h4>
                <p class="item-decription">{{ item.Description }}</p>
                <div class="bottom-display">
                    <div class="button-panel">
                        <button *ngIf="canMakeOrder; else cancelOrder" class="btn btn-circle" (click)="order(item)" [disabled]="!canMakeOrder" [conditionalClass]="{ condition: canMakeOrder, apply: 'btn-success'}">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #cancelOrder>
            <button class="btn btn-circle btn-danger" *ngIf="item.IsOrdered" (click)="cancel(item)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </ng-template>
    </div>
</div>