<ul class="pagination">
    <li>
        <a href="#" [class.non-active]="currentPage == 1" scrollStop (click)="previousPage($event)">&laquo;</a>
    </li>
</ul>
<ul class="pagination" *ngFor="let index of pagesIndexes;">
    <li>
        <a [class.active]="index == currentPage" href="#" scrollStop (click)="goToPage(index)">{{ index }}</a>
    </li>
</ul>
<ul class="pagination">
    <li>
        <a href="#" [class.non-active]="currentPage == pagesIndexes.length" scrollStop (click)="nextPage($event)">&raquo;</a>
    </li>
</ul>