<div class="thumbnail zoom">
  <img class="img-responsive pointer" [routerLink]="['/meal-list', item.id ]" [src]="item.image" alt="{{item.name }}" />
  <div class="caption">
    <h4 class="item-name">{{ item.name }}</h4>
    <p class="item-decription">{{ item.description }}</p>
    <div class="bottom-display">
      <div class="button-panel">
        <button *ngIf="canMakeOrder; else cancelOrder" [@orderAnimateButton] class="btn btn-circle" (click)="order(item)" [disabled]="!canMakeOrder"
          [conditionalClass]="{ condition: canMakeOrder, apply: 'btn-success'}">
          <i class="glyphicon glyphicon-ok"></i>
        </button>
        <div class="heart-section">
          <span class="glyphicon glyphicon-heart" [@heartAnimation]="item.isOrdered">
          </span>
          <span class="number">{{ item.numberOfOrders }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cancelOrder>
  <button class="btn btn-circle btn-danger" [@orderAnimateButton] *ngIf="item.isOrdered" (click)="cancel(item)">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</ng-template>