.main-margine {
  margin-top: 5%;
}

.container-height {
  min-height: 900px;
}

.footer {
  padding: 1rem;
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  text-align: center;
  background-color: #1c8675;
  height: 100%;
  min-height: 120px;
}
