*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.btn.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.margin-right-1 {
  margin-right: 1em;
}

input.ng-invalid.ng-touched {
  border: 1px solid #eb626d;
}

.no-top-border{
  border-top:none;
}

.panel.no-top-border{
  border-top:none;
}